[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = mahi
	email = Magnus.Hirth@nordicsemi.no
[credential]
	helper = store
[credential "https://github.com"]
	username = mhmorgan
[core]
	pager = cat
	editor = nvim
[init]
	defaultBranch = master
[pull]
	rebase = false
[push]
	default = simple
